<h2 class="title">Contas a Pagar</h2>
<header class="header d-flex">
  <h2 class="ff-inter"></h2>
  <button routerLink="/criarConta" class="botaoAdicionar">
    Adicionar pensamento
  </button>
</header>
<table class="table">
  <thead>
    <tr>
      <th>Data de Vencimento</th>
      <th>Valor</th>
      <th>Nome da Conta</th>
      <th>Status</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conta of contas">
      <td>{{ conta.dataVencimento }}</td>
      <td>{{ conta.valor | currency : "BRL" }}</td>
      <td>{{ conta.nomeConta }}</td>
      <td>{{ conta.paga ? "PAGO" : "PENDENTE" }}</td>
      <td>
        <button class="botao">
          <img src="/assets/images/icone-editar.png" alt="icone de editar" routerLink="/conta/editar-conta/{{conta.id}}" />
        </button>
        <button class="botao">
          <img src="/assets/images/icone-copiar.png" alt="icone de copiar" />
        </button>
      </td>
    </tr>
  </tbody>
</table>
