<section class="container editar-contas ff-inter">
  <header class="header">
    <h2>Adicione uma <br />conta nova:</h2>
  </header>
  <form>
    <label for="nomeConta">Nome da Conta</label>
    <input
      type="text"
      class="input"
      id="nomeConta"
      name="nomeConta"
      placeholder="Digite a nome para identificar a conta"
      [(ngModel)]="conta.nomeConta"
    />

    <label for="valor">Valor</label>
    <input
      type="number"
      class="input"
      id="valor"
      name="valor"
      placeholder="Valor da conta"
      [(ngModel)]="conta.valor"
    />
    <label for="dataVencimento">Data vencimento</label>
    <div class="col-6">
      <input
        class="input"
        type="date"
        id="dataVencimento"
        name="input"
        [(ngModel)]="conta.dataVencimento"
        placeholder="yyyy-MM-dd"
        min="2023-01-01"
        max="2030-12-31"
        required
      />
    </div>
    <label for="codigoBarras">Código de barras</label>
    <input
      type="text"
      class="input"
      id="codigoBarras"
      name="codigoBarras"
      placeholder="Codigo de Barras ou QR Code copia e cola"
      [(ngModel)]="conta.codigoBarras"
    />
    <div class="acoes">
      <button (click)="editarConta()" class="botao">Salvar</button>
      <button (click)="cancelar()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
